#!/usr/bin/env python
# -*- coding: utf-8 -*-

# use scanimage -L to get a list of available devices
DEVICE = 'hpaio:/net/Officejet_4500_G510g-m?ip=192.168.178.100'

# Language to use for tesseract
# Consult tesseracts man page for a list of available languages
DEFAULT_LANGUAGE = 'deu'
